.grillacon {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: 0.35fr 1.5fr 0.45fr 0.35fr;
    grid-template-areas:
        "headerind headerind"
        "contacto contacto"
        "form form"
        "footerind footerind"
    ;
    color: black;
    .contacto {
        grid-area: contacto;
        background-image: url(../img/fondocon7.avif);
        background-position: relative;
        background-size: cover; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .contactanos {
            display: flex;
            justify-content: center;
            font-family: 'Antic', sans-serif;
            color: #D1D14B;
            text-align: center;
            font-size: 35px;
            letter-spacing: 6px;
            margin: 20px;
        }
        .cuadros {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                height: 30px;
                width: 500px;
                border-radius: 5px;
                background-color: #c6c6c6;
                text-align: center;
                margin-top: 10px;
                border-width: 0px;
                border-style: solid;
                border-width: 1px;
                border-color: #727069;
            }
            input[type=text]:hover{
                background-color: #cccc90;
                color: white;
            }
            input[type=number]:hover{
                background-color: #cccc90;
                color: white;
            }
            input[type=email]:hover{
                background-color: #cccc90;
                color: white;
            }
            textarea {
                border-radius: 5px;
                background-color: #c6c6c6;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                border-width: 0px;
                border-style: solid;
                border-width: 1px;
                border-color: #727069;
                resize: none;
                &:hover {
                    background-color: #cccc90;
                    color: white;
                }
            }
            .boton{
                width: 300px;
                display: flex;
                justify-content: center;
                &:hover{
                    transform: scale(1.15);
                    }
            }
        }
    }
}

/*RESPONSIVE DESING - MEDIA QUERY - MOBILE LAST*/
/*MOBILE LAST = MAX-WIDTH*/
@media (max-width: 768px) {
    .grillacon {
        grid-template-rows: 0.5fr 1.5fr 0.25fr 0.25fr;
    }
}

/*DISPOSITIVO CHICOS // SM */
@media (max-width: 375px) {
    .grillacon {
        grid-template-rows: 0.75fr 2fr 0.25fr 0.25fr;
        .contacto{
            .contactanos {
                font-size: 25px;
            }
            .cuadros{
                input {
                    height: 25px;
                    width: 300px;
                }
                textarea {
                    width: 300px;
                }
            }
        }
    }
}